* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* --------------Fit to every screen--------------  */

@media screen and (max-width: 768px) {
  .left,
  .right {
    width: 100%;
  }

  .home .container {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .home {
    height: 134vh;
  }

  .home .img {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .home img {
    width: 100%;
    height: 100%;
    position: relative;
    transform: scale(1);
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .about .container {
    flex-direction: column;
    margin-top: -15%;
  }

  .about .img {
    width: 100%;
    height: 100%;
  }

  .about img {
    object-fit: cover;
    width: 100%;
    margin-top: 10%;
  }

  .services .container .heading {
    margin-top: 125%;
  }

  .wrapper .container {
    max-width: 80%;
  }

  footer .grid1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog .container {
    margin-top: -90%;
  }

  p {
    text-align: justify;
  }
}

@media screen and (max-width: 667px) {
  .services .container .heading {
    margin-top: 135%;
  }
}

@media screen and (max-width: 620px) {
  .services .container .heading {
    margin-top: 155%;
  }

  .blog .container {
    margin-top: -112%;
  }
}

@media screen and (max-width: 530px) {
  .services .container .heading {
    margin-top: 177%;
  }

  .blog .container {
    margin-top: -130%;
  }

  .about img {
    margin-top: 15%;
  }
}

@media screen and (max-width: 467px) {
  .services .container .heading {
    margin-top: 200%;
  }

  .blog .container {
    margin-top: -150%;
  }

  .about img {
    margin-top: 18%;
  }

  .about .container {
    margin-top: -25%;
  }
}

@media screen and (max-width: 425px) {
  .services .container .heading {
    margin-top: 220%;
  }

  .blog .container {
    margin-top: -170%;
  }
}

@media screen and (max-width: 398px) {
  .services .container .heading {
    margin-top: 248%;
  }

  .blog .container {
    margin-top: -190%;
  }

  .about .container {
    margin-top: -40%;
  }
}

@media screen and (max-width: 376px) {
  .services .container .heading {
    margin-top: 250%;
  }

  .blog .container {
    margin-top: -195%;
  }

  .about .container {
    margin-top: -18%;
  }
}

/* --------------Fit to every screen--------------  */
